<h2 style="margin-bottom:0;">{{ translate.text('Page.Name') }}</h2>
<div class="address">
    <mat-icon>place</mat-icon>
    <span>{{ firm.address.zip }}</span>
    <span>{{ firm.address.city }},</span>
    <span>{{ firm.address.addressLine }}</span>
    <span *ngIf="translate.getLangId() !== 'hu'">{{ firm.address.country }}</span>
</div>

<div class="row">
    <div class="col col-sm-8">
        <div *ngIf="translate.getLangId() === 'hu'">
            <p>
                Ez a szállás 3 perces sétára van a vízparttól. A Baja központjában, a Dunától 300 méterre épült Kolibri Panzió ingyenes Wi-Fi-vel, bárral és snackbárral, valamint a helyszínen biztosított, nyilvános parkolási lehetőséggel várja vendégeit.
            </p>
            <p>
                A Kolibri Panzió szobái kábel-TV-s LCD tv-kel, valamint káddal vagy zuhanyzóval ellátott, saját fürdőszobával rendelkeznek. Közös konyha is igénybe vehető. Minden szobában egyedi légkondicionáló áll rendelkezésre, reptéri transzfer pedig felár ellenében igényelhető.
            </p>
            <p>
                Élelmiszerbolt és étterem 500 méterre található. Horgászati lehetőség 300 méterre áll rendelkezésre.
            </p>
            <p>
                Baja pályaudvara 5 perces autóúttal elérhető.
            </p>
        </div>
    </div>
    <div class="col col-sm-4">
        <img class="rounded" src="assets/img/booking_2021.jpg" style="width: 240px;" alt="booking" />
    </div>
</div>

<div style="text-align:center;">
    <img class="rounded" src="assets/img/wow_banner_fekvo_szoveg_v2.png" style="width:800px;" alt="banner" />
</div>
<div style="text-align:center;">
    <img class="rounded" src="assets/img/tabla1.jpg" style="width:800px;" alt="tabla1" />
</div>
<div style="text-align:center;">
    <img class="rounded" src="assets/img/tabla2.jpg" style="width:800px;" alt="tabla2" />
</div>

<div appFotorama [items]="items" [options]="options"></div>