<h2 style="margin-bottom:0;">{{ translate.text('Page.Name') }}</h2>
<div>
    <span class="glyphicon glyphicon-map-marker address">
        <span>{{ firm.address.zip }}</span><span>{{ firm.address.city }},</span><span>{{ firm.address.addressLine }}</span>
    </span>
    <br>
    <br>
</div>

<h3>"VISSZAJÖVÖK!"</h3>
<p>
    Az ajánlat 2020. június 01. – 2020. július 15. napjáig érvényes a Kolibri Panzió *** szálláshelyen
</p>
<div>
    <ol>
        <li>
            „Két keréken a Sugovica mentén” Csomag:<br />
            Szállás reggelivel, ingyenes kerékpár megőrzéssel : 14.000,-Ft/szoba/éj<br />
            Az ajánlat: 2020.06.01 - 2020. 07. 15. napjáig érvényes<br />
            Minimum 2 éjszakás foglalással<br />
            Fizetési lehetőség: Szép kártya, bankkártya, készpénz<br />
            Az ajánlat ingyenes reggelit és ingyenes kerékpár megőrzést tartalmaz.
        </li>
        <li>
            „Kényeztető Hétköznapok” Csomag:<br />
            Szállás reggelivel, wellness kuponnal: 16.000,-Ft/szoba/éj<br />
            Az ajánlat 2020.06.01 – 2020. 07.15. napjáig érvényes<br />
            Minimum 2 éjszakás foglalással<br />
            Fizetési lehetőség: Szép kártya, bankkártya,készpénz<br />
            Az ajánlat ingyenes reggelit és ajándék wellness kupont tartalmaz.
        </li>
        <li>
            „Vad lesen a Gemencben” Csomag:<br />
            Szállás reggelivel 14.000,-Ft/szoba/éj<br />
            Térítés ellenében kisvasúttal a Gemenci Erdőben kirándulás<br />
            Térítés ellenében sétahajózás a Dunán<br />
            Minimum 2 éjszakás foglalással<br />
            Fizetési lehetőség: Szép kártya, bankkártya, készpénz<br />
            Az ajánlat ingyenes reggelit tartalmaz.
        </li>
    </ol>
</div>
